In [1]:
import sys
import os
myDir = os.getcwd()
parentDir = os.path.abspath(os.path.join(myDir, os.pardir))
sys.path.append(parentDir)

from pathlib import Path
path = Path(parentDir)
a=str(path.parent.absolute())

sys.path.append(a)

In [2]:
from MetaX.utils.taxaFuncAnalyzer import TaxaFuncAnalyzer
# from MetaX.utils.taxaFuncPloter.basic_plot import BasicPlot

In [3]:
df_path = 'C:/Users/ZAL/Desktop/AL_300_TaxaFunc.tsv'
meta_path = 'C:/Users/ZAL/Desktop/AL_300_meta.tsv'
sw = TaxaFuncAnalyzer(df_path, meta_path)

original df shape: (131669, 53)
after remove all zero row: (121467, 53)

In [4]:
sw._remove_all_zero_row()

original df shape: (121467, 53)
after remove all zero row: (121467, 53)

In [5]:
sw.set_func('Description')
sw.set_multi_tables(level='s')

sw.set_group('Group2')

batch_list is not set, Batch effect removal did not perform.
transform_method is not set, data transform did not perform.
normalize_method is not set, data normalization did not perform.
Original data shape: (121467, 53)
Starting to set Function table...
Function number: 2852
Starting to set Taxa table...
Taxa number: 521
Taxa-Function number: 9965
group is set to Group2
 {'Paroxetine', 'Escitalopram', 'Duloxetine', 'Atomoxetine', 'KES', 'Sertraline', 'Fluvoxamine', 'Venlafaxine', 'Citalopram', 'DMSO', 'Fluoxetine'}

In [15]:
sw.get_stats_func_prop(func_name='Description')

       prop       n   freq            label
0     0-0.1       0   0.00     0-0.1 (0.0%)
1     0-0.2      12   0.01    0-0.2 (0.01%)
2     0-0.3     148   0.12    0-0.3 (0.12%)
3     0-0.4     475   0.39    0-0.4 (0.39%)
4     0-0.5     658   0.54    0-0.5 (0.54%)
5   0.5-0.6    3414   2.81  0.5-0.6 (2.81%)
6   0.6-0.7    2720   2.24  0.6-0.7 (2.24%)
7   0.7-0.8    1717   1.41  0.7-0.8 (1.41%)
8   0.8-0.9    1958   1.61  0.8-0.9 (1.61%)
9     0.9-1     908   0.75    0.9-1 (0.75%)
10        1  109457  90.11       1 (90.11%)

In [17]:
import pandas as pd

In [22]:
def get_stats_func_prop(self, func_name) -> pd.DataFrame:
    df = self.original_df.copy()
    if func_name not in self.func_list:
        raise ValueError(f'func_name must be in {self.func_list}')
    prop_name = f'{func_name}_prop'
    # remove unknown
    df = df[ (df[func_name].notnull()) &
                     (df[func_name] != 'unknown')]

    df_prop = pd.DataFrame({'prop': ['0-0.1', '0-0.2', '0-0.3', '0-0.4', '0-0.5', '0.5-0.6', '0.6-0.7', '0.7-0.8', '0.8-0.9', '0.9-1', '1'],
                            'n': [len(df[(df[prop_name] >= i/10) & (df[prop_name] < (i+1)/10)]) for i in range(11)]})
    df_prop['freq'] = (df_prop['n']/df_prop['n'].sum()*100).round(2)
    df_prop['label'] = df_prop['prop'] + \
        ' (' + df_prop['freq'].astype(str) + '%)'
    return df_prop
get_stats_func_prop(sw, 'CAZy')

       prop     n   freq            label
0     0-0.1     0   0.00     0-0.1 (0.0%)
1     0-0.2     0   0.00     0-0.2 (0.0%)
2     0-0.3     0   0.00     0-0.3 (0.0%)
3     0-0.4     0   0.00     0-0.4 (0.0%)
4     0-0.5     0   0.00     0-0.5 (0.0%)
5   0.5-0.6     8   0.68  0.5-0.6 (0.68%)
6   0.6-0.7     4   0.34  0.6-0.7 (0.34%)
7   0.7-0.8     5   0.43  0.7-0.8 (0.43%)
8   0.8-0.9     2   0.17  0.8-0.9 (0.17%)
9     0.9-1     1   0.09    0.9-1 (0.09%)
10        1  1150  98.29       1 (98.29%)