In [1]:
import sys
import os
myDir = os.getcwd()
parentDir = os.path.abspath(os.path.join(myDir, os.pardir))
sys.path.append(parentDir)

from pathlib import Path
path = Path(parentDir)
a=str(path.parent.absolute())

sys.path.append(a)

In [2]:
from MetaX.utils.taxaFuncAnalyzer import TaxaFuncAnalyzer
# from MetaX.utils.taxaFuncPloter.basic_plot import BasicPlot

In [3]:
df_path = 'C:/Users/ZAL/Desktop/AL_300_TaxaFunc.tsv'
meta_path = 'C:/Users/ZAL/Desktop/AL_300_meta.tsv'
sw = TaxaFuncAnalyzer(df_path, meta_path)

In [4]:
sw._remove_all_zero_row()

original df shape: (131669, 53)
after remove all zero row: (121467, 53)

In [4]:
sw.set_func('Description')
sw.set_multi_tables(level='s')

sw.set_group('Person')

batch_list is not set, Batch effect removal did not perform.
transform_method is not set, data transform did not perform.
normalize_method is not set, data normalization did not perform.
Original data shape: (3999, 229)
Starting to set Function table...
Function number: 830
Starting to set Taxa table...
Taxa number: 340
Taxa-Function number: 1272
group is set to Person
 {'V5', 'V2', 'V1', 'V4', 'V3'}